/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



body {
	
	
}

#container {
	
}




.perspective{
	position:absolute;
	font-size:600px;
	font-family: "Bungee" , sans-serif;
	color:#8181815c;

	
}

.text{
	Position:absolute;
	font-size:30px;
	font-family: "Caveat" , sans-serif;
    Color:#000000;
}
.johnlacefield{
	position:absolute;

}


p#title0 {
	top:570px;
	left:460px;
	
}

p#title1 {
	top:-300px;
	left:200px;
}

p#title2 {
	top: -300px;
	left: 500px;
}
p#title3 {
	top: -300px;
	left:775px;
}
p#title4{
	top:-300px;
	left:1100px;
}
p#title5{
	top:0px;
	left:200px;
}
p#title6{
	top:0px;
	left:500px;
}
p#title7{
	top:0px;
	left:800px;
}
p#title8{
	top:0px;
	left:1090px;
}
p#title9{
	top:300px;
	left:210px;
}
p#title10{
	top:300px;
	left:490px;
}
p#title11{
	top:300px;
	left:870px
}
p#title12{
	top:300px;
	left:1180px;
}
p#footer{
	bottom:-300px;
	left:700px;
	
}










/*create a code word that refrences to the font file implimented in the css file*/
/*keep added fonts file in the same folder as the web page writing code for, copy the name of the 
file for the font and add the name to the url('font file name') and to name the 
-- font-family:'name of font'; -- also refrence back to the .woff and the .ttf code atributes. */





